/* Navigation Bar custom colors  */
.navbar-default {
    background-color: #27cda5;
    border-color: rgba(0, 0, 0, 0);
    opacity: 1.0;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-brand {
    color: #FFF;
}