/* Navigation Bar custom colors  */
.navbar-default {
    background-color: #27cda5;
    border-color: rgba(0, 0, 0, 0);
    opacity: 1.0;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.my-background {
  /* The image used */
  background-image: url("../img/snow_rockies.jpg");

  /* Add the blur effect */
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */

  /* Full height */
  height: 100%;
}
